<div>
     <video autoplay loop muted plays-inline class="back-video">
      <source src="backcolor.mp4" type="video/mp4">
     </video>

      <div class='wrapper-banner banner-profil'>
        <div class="row d-flex justify-content-center container-banner">
          <div class="card-profile-banner p-3 py-4">
            <div class="text-center">
              <%= image_tag("thibovf.png", size: '80x80', class: 'profile-image')%>
            </div>
            <div class="text-center mt-3">
              <h2 class="mt-2 mb-0 profile-name"> <%= current_user.username.capitalize %></h5>
              <p class='profession-title'>Crypto enthusiast #HODL</p>
            </div>
          </div>
        </div>
      </div>


<div class="bg-dark-grey">
    <div class="container p-5 d-flex">

      <div class="width-wallet">
          <div class="display-title-x-button">
            <h2 class='text-white font-rainbows'> Portfolios</h2>
            <a href="#" class="btn-pink" data-bs-toggle="modal" data-bs-target="#portfolioModal">+</a>
          </div>


          <div class="profile-content bg-dark-grey">
            <div>
              <% @user_portfolios.each do |portfolio| %>
                <div class="container-portfolio-profile mt-3">
                  <%= link_to portfolio_path(portfolio), style: "text-decoration:none;", class: "d-flex justify-content-between align-items-center flex-grow-1" do %>
                      <div class="list-info-title">
                        <%= image_tag("btc2.png", class: "img-portfolio")%>
                        <h4 class="text-card-wallet"> <%= portfolio.name.upcase %></h4>
                      </div>
                      <div class="list-info justify-self-end">
                        <h4 id="num"><%= portfolio.addresses.count %></h4>
                        <h4 class="text-card-wallet"> <%= portfolio.addresses.count > 1 ? 'addresses' : 'address' %> </h4>
                      </div>
                  <% end %>
                      <%= link_to portfolio_path(portfolio), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{portfolio.name}?" } do %>
                        <i class="fas fa-trash m-3 trash-icone-value"></i>
                      <% end %>
                  </div>
              <% end %>
            </div>
          </div>



        </div>


        <div class="chart-view">
          <div class="display-title-x-button">
            <h2 class='text-white font-rainbows'>Distribution</h2>
          </div>
          <div class="chartCard">
            <div class="chartBox" data-controller="portfolios-distribution" data-portfolios-distribution-portfolios-value="<%= @user_portfolios.map { |portfolio| portfolio.name.upcase } %>" data-portfolios-distribution-addresses-value="<%= @user_portfolios.map { |portfolio| portfolio.addresses.count } %>">
              <canvas class="mx-4" id="viewCanvas" aria-label="distributionChart" role="img"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="portfolioModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="portfolioModalLabel">NEW PORTFOLIO</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with model: @new_portfolio, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
        <div class="modal-body">
          <template data-nested-form-target="template">
            <%= f.fields_for :addresses, Address.new, child_index: 'NEW_RECORD' do |address_fields| %>
              <%= render "shared/address_form", f: address_fields %>
            <% end %>
          </template>

          <%= f.text_field :name, class: "form-control-v2", placeholder: "Untitled portfolio" %>

          <h6 class="text-white mt-4">Addresses</h6>

          <%= f.fields_for :addresses, Address.new do |address_fields| %>
            <%= render "shared/address_form", f: address_fields %>
          <% end %>

          <!-- Inserted elements will be injected before that target. -->
          <div data-nested-form-target="target"></div>
        </div>

        <div class="modal-footer">
          <a href="#" class="btn-pink" data-action="nested-form#add">Add address</a>
          <%= f.submit 'Save portfolio', class: "btn-pink" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
