<div data-controller="portfolios" data-portfolios-address-value="portfolio<%= @portfolio.id %>">
  <div class="banner" style="background-image: url(<%= image_path('background-color.jpg') %>); padding-inline: 2.5vw; height: 63vh; padding-top: 115px;">
    <div class="d-flex justify-content-around">
      <div class="bg-dark-grey d-flex align-items-center" style="height: 47vh; width: 96.625%; border-radius: 20px; position: relative;">
        <div class="logo-bitcoin d-flex">
          <%= image_tag('btc1.png', size:"80")%>
          <h1 class="totalbtc">TOTAL</h1>
          <h1 class="totalbtc2">BITCOIN</h1>
        </div>
        <canvas id="portfolioCanvas" aria-label="chart" role="img" class="my-auto">
          <h1> TOTAL BITCOIN</h1>
        </canvas>
      </div>
    </div>
  </div>


  <div class="bg-dark-grey">
    <div class="container p-5">
      <div class="row">
      <h2 class="d-flex" data-controller="edit-portfolio-name"
          data-edit-portfolio-name-authenticity-token-value="<%= form_authenticity_token %>"
          data-edit-portfolio-name-portfolio-id-value="<%= @portfolio.id %>">
      <span data-edit-portfolio-name-target="portfolioName" data-action="focusout->edit-portfolio-name#finishEdit keydown->edit-portfolio-name#finishEdit">
      <%= @portfolio.name %>
      </span> <div class="link-white align-self-center px-3" data-action="click->edit-portfolio-name#edit"><i class="fa-solid fa-pencil"></i></div></h2>

      <div class="col-12 col-lg-6">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="text-pink font-rainbows my-4">ADDRESSES</h3>
          <a href="<%= portfolios_path %>" class="d-flex link-white mx-4">
            <i class="fa-solid fa-arrow-left p-1"></i>PROFILE
          </a>
        </div>

        <%# LIST DES ADDRESSES %>
        <div data-controller="balance" class="addresses-grid">
          <% @portfolio.addresses.each do |address| %>
            <a class="container-address" href="<%= address_path(address) %>">
            <div class="icone-title">
                <div class="d-flex">
                  <%= image_tag("logocard.png", class: "img-bitcoin") %>
                  <div>
                    <h2 id="title-btc"><strong>BITCOIN</strong></h2>
                  </div>
                </div>
                  <i class="fas fa-trash trash-icone-value"></i>
            </div>

            <div class="key-balance">
                <div>
                  <p id="paragraphe-card"><%= "#{address.public_key[0..7]}...#{address.public_key[-8..-1]}"%></p>
                </div>
                <div>
                  <p id="value-crypto-card"><strong data-balance-target="balance" data-address="<%= address.public_key %>"></strong></p>
                </div>
            </div>

            </a>
          <% end %>

          <%# ADD CARD %>
          <div class="container-address">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><h1><strong>+</strong></h1></button>
          </div>




        </div>
      </div>

      <%# HISTORIQUE TRANSACTION %>
      <div class="col-12 col-lg-6">
        <h3 class="text-pink font-rainbows my-4">RECENT TRANSACTIONS</h3>
        <div data-portfolios-target="transactions">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Address Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD AN ADDRESS</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for(@address) do |f|%>
      <div class="modal-body">
      <%= f.hidden_field :portfolio_id, value: @portfolio.id %>
      <%= f.input :public_key, label:"public key", label_html: { class: "text-white" }, placeholder:"bc1q5crsrfueudwyfekp..." %>
      </div>
      <div class="modal-footer">
        <%= f.submit "SAVE", class:"btn btn-secondary" %>
      </div>
        <% end %>
    </div>
  </div>
</div>
