<div class="banner">
  <video autoplay loop muted plays-inline class="back-video">
    <source src="backcolor.mp4" type="video/mp4">
  </video>

  <div class="d-flex banner-display">
    <div class="container">
      <h1 class="first-title">YOUR CRYPTO AT A GLANCE WITH COINS</h1>
      <h4 class="sub-title">Generate your free dashboard in 5 minutes using the form!</h4>
      <a class="btn-home-white start-btn font-btn" href="#">Start</a>
    </div>
    <div class="container img-align">
      <%= image_tag('cryptocurrency.jpg', class:"img-banner", size: '50')%>
    </div>
  </div>
</div>

<div class="d-flex banner-add" style="background-color: rgb(21 21 21)">
  <div class="position-cache">
        <div class="cache-logo"></div>
        <iframe src='https://my.spline.design/untitled-f53ed9f96027b1afe0a1657257688a16/' frameborder='0' width='100%' height='100%' class="imgform spline-watermark"></iframe>
  </div>
  <div>
  <h1 class="title title-search font-rainbows">ADD YOUR CRYPTO !</h1>
      <%= simple_form_for @address do |f| %>
      <div class="container mt-4">
        <div class="row">

          <div>
            <%= f.input :public_key, :as => :text, placeholder: 'bc1q5crsrfueudwyfekp...', label:"Public Key", label_html: { style: "color: white;" } %>
          </div>

          <div class="col-12 d-flex justify-content-end search-go">
            <%# <%= f.submit "Go !", class: "violet-btn" %>
            <a><%= link_to "Go !", portfolios_path, class:"violet-btn-home"%></a>
          </div>

        </div>
        <% end %>
      </div>
  </div>
</div>

<div class="team" style="background-color: rgb(21 21 21)">
  <h1 class="title-card font-rainbows format-title-team">THE TEAM</h1>
    <div class="display-card">
      <div class="container-team">
        <div class="team-left">
          <h3 class="forma-card-team"><strong>LAFARGUE</strong></h3>
          <h3 class="sub-title-team"><strong>Thibault</strong></h3>
          <p class="status-grey">Lead Dev</p>
        </div>
        <%= image_tag("thibault.png", class: "img-team")%>
      </div>
      <div class="container-team">
        <div class="team-left">
          <h3 class="forma-card-team"><strong>BOISTAULT</strong></h3>
          <h3 class="sub-title-team"><strong>Enzo</strong></h3>
          <p class="status-grey">UI / UX Dev</p>
        </div>
        <%= image_tag("enzo.png", class: "img-team")%>
      </div>
      <div class="container-team">
        <div class="team-left">
          <h3 class="forma-card-team"><strong>RAIMBAULT</strong></h3>
          <h3 class="sub-title-team"><strong>FX</strong></h3>
          <p class="status-grey">UI / UX Dev</p>
        </div>
        <%= image_tag("fx.png", class: "img-team")%>
      </div>
      <div class="container-team">
        <div class="team-left">
          <h3 class="forma-card-team"><strong>ETORI</strong></h3>
          <h3 class="sub-title-team"><strong>Irvin</strong></h3>
          <p class="status-grey">Back Dev</p>
        </div>
        <%= image_tag("irving.png", class: "img-team")%>
      </div>
    </div>

</div>
