<div class="display-registration" style="background-image: url(<%= image_path('background-color.jpg') %>);">
    <div class="form-v"></div>
    <div class="d-flexx">

      <div class="registration-img-session">
        <%= image_tag('calendar.png', class:"registration-imgform-session")%>
      </div>

      <div class="registration-form-session">
          <h2 class="signintitle font-rainbows">LOG IN</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="form-vide">
          </div>

          <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }, placeholder: 'exemple@gmail.com', label: 'Email', label_html: { style: "color: white;" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" }, placeholder: '******', label: 'Your Password', label_html: { style: "color: white;" } %>
        </div>

          <div class="form-actions">
            <%= f.button :submit, "GO", class:"registration-btn violet-btn" %>
          </div>
        <% end %>
      </div>
    </div>
</div>
