<div class="container-session">
  <div class="row">
    <div class="form-signin col-6">


      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>

          <div class="form-inputs col-8">
            <h1 class="title-center"><strong>LOG IN</strong></h1>
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>



            <%= f.button :submit, "Log in", class: "violet-btn" %>
          </div>
      <% end %>

      <%# <%= render "devise/shared/links" %>
    </div>

    <div class="right-signin col-6">

    </div>

  </div>
</div>


