<!DOCTYPE html>
<html>
  <head>
    <title>Coins your crypto at a glance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name ="description" content="Our desktop app provides accurate and rapid charting of your crypto address balances, allowing you to easily track your crypto and create a portfolio made up of multiple addresses. Try it now for efficient crypto management." >
    <meta name="product_name" content="Coins">
    <meta name="title" content="Coins - Your crypto at a glance">
    <meta name="image" content="<%= image_path('cryptocurrency.jpg') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
  </head>

  <body>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "shared/footer" %>
  </body>
</html>
